@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  --ukraine-blue: #2b58b8;
  --ukraine-yellow: #ffd700;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.hero {
  background-color: var(--ukraine-blue);
  color: var(--ukraine-yellow);
}

.contact {
  background-color: var(--ukraine-blue);
  color: var(--ukraine-yellow);
}
